<div class="container vh-1OO">
  <div class="row vh-100 align-items-center justify-content-center flex-column">
    <div class="col-9 col-md-6 mx-auto text-center py-3">
      <h2 class="text-primary">C'est la fin !</h2>
      <h6 class="text-primary my-3 fw-normal">La composition est terminée.</h6>

      <div class="col-sm-9 text-center mx-auto">
        <img src="assets/images/thanks-danger.png" />
        <p class="fw-semibold text-primary py-2">
          Les résultats seront disponibles dans votre espace candidat.
        </p>
      </div>
    </div>
    <div class="col-sm-9 mx-auto text-center">
      L'ANaTT vous souhaite une bonne suite ...
      <div class="my-3">
        <a class="btn btn-primary w-100" href="">Quitter</a>
      </div>
    </div>
  </div>
</div>
