<app-blue-aside-entreprise>
  <app-blue-aside-left>
    <div class="col-md-8">
      <img src="assets/images/login-left.png" alt="" class="img-fluid" />
    </div>
    <div class="login-desc h4 text-center my-3">
      Votre espace de gestion de recrutement de conducteurs
    </div>
  </app-blue-aside-left>
  <app-blue-aside-right col="col-md-11">
    <div class="border p-1 rounded-3 mb-3">
      <div class="d-flex">
        <!-- <app-avatar [user]="user"></app-avatar> -->
        <div class="d-flex flex-column justify-content-between ms-2">
          <h5 class="pt-2" style="color: #313131; font-size: 22px; font-weight: 600">
            {{ user?.name }}
          </h5>
          <h6 class="pb-2" style="color: #575656; font-size: 16px">
            <!-- IFU : {{ user?.npi }} -->
            Email : {{ user?.email }}
          </h6>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-4 mb-5" *ngFor="let ps of buttons">
        <app-entreprise-button-card [entrepriseButton]="ps">
          <button href="" [routerLink]="'/entreprise/' + ps.slug" type="button"
            class="btn btn-primary">
            Mes recrutements
          </button>
        </app-entreprise-button-card>
      </div>
    </div>
  </app-blue-aside-right>
</app-blue-aside-entreprise>
