<div class="vh-100 w-100 d-flex flex-column pb-3">
  <div class="fixed-top py-2 bg-primary">
    <h6 class="text-white text-center">SOSSA DAYO COFFI</h6>
  </div>
  <div><ng-content></ng-content></div>
  <footer class="fixed-bottom bg-primary">
    <div class="container text-center text-white">
      <div class="row">
        <div class="col">
          <h6 class="mt-1 fs-6">Examen de permis de conduire</h6>
          <small class="mb-2 fs-6">Épreuve du code</small>
        </div>
      </div>
    </div>
  </footer>
</div>
