.top-navbar {
  .btn-outline-primary:hover {
    color: white;
  }
}

.input-group {

  input,
  .input-group-text {
    background-color: #D9E3EC;
    border: 0;

  }
}

footer {
  color: #484848;

  h6 {
    margin-bottom: 5px;
  }


  a,
  .nav-item .nav-link {
    color: #484848 !important;
    font-weight: 400;
  }


}