.countdown {
  text-align: center;
}

.circle {
  border: 10px solid var(--bs-primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-weight: bold;
  color: var(--bs-primary);
  //text-shadow: 0 0 1px var(--bs-primary), 0 0 1px var(--bs-warning), 0 0 3px var(--bs-danger), 0 0 1px #fff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.47);
  margin: auto;
}