@import 'scss/bootstrap';

body {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

input,
.form-control {

  &::placeholder {
    font-size: 12px;
  }
}

select,
.form-select {
  font-size: 12px;
}


.card {
  border-radius: 3px;

  h6 {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
  }

  ul {
    li {
      color: #313131;
    }
  }

  .card-header {
    background-color: transparent;
  }
}

.btn:disabled,
.btn.disabled,
button[disabled] {
  cursor: not-allowed !important;
}


p,
h6 {
  margin-bottom: 0;
}

.form-check-label,
.text-small {
  font-size: 12px;
}

.form-label {
  color: #252529;
}

.text-small {
  font-size: 12px;
}

.btn {
  padding: 12px 15px;
  font-weight: 600;

  &:focus,
  &:hover,
  &:active {
    color: white;
  }
}


.btn-question {
  font-weight: 600;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 3px 5px !important;
  border-radius: 6px;
  font-weight: 900;
  color: black;

  &:focus,
  &:hover,
  &:active {
    color: black;
  }
}

.fade-in {
  animation: fadein 1.3s ease-in-out;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}