<div class="m-2">
  <div class="row align-items-center">
    <div class="col-sm-8">
      <h6>Nombre total de candidats ({{ paginate_data.total | number }})</h6>
      <p class="mb-4">
        Faites ici une recherche des listes de candidats selon les critères que
        vous souhaitez.
      </p>
    </div>
    <!-- <div class="col text-end" *ngIf="candidats.length">
      <button
        class="btn btn-primary rounded-1 ms-1"
        type="button"
        (click)="download()"
      >
        <app-icon icon="download"></app-icon>
      </button>
    </div>-->
  </div>
  <tab>
    <tab-body>
      <div class="mt-3 filter-box p-2">
        <div class="row row-cols-lg-auto align-items-center">
          <div class="col-12">
            <div class="mb-3">
              <label class="form-label">Année</label>
              <select
                class="form-select"
                name="year"
                [(ngModel)]="filters.year"
              >
                <option [value]="null" selected>Aucune ...</option>
                <option>2022</option>
                <option>2023</option>
                <option>2024</option>
              </select>
            </div>
          </div>
          <div class="col-12">
            <div class="mb-3">
              <label class="form-label" for="">Session</label>
              <select
                class="form-select"
                name="exam_id"
                [(ngModel)]="filters.examen_id"
              >
                <option [value]="null">Toutes les sessions</option>
                <option [value]="ex.id" *ngFor="let ex of examens">
                  {{ ex.numero == 2 ? "2ème" : ex.numero == 1 ? "1ère" : "" }}
                  session de {{ ex.mois }}
                </option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label class="form-label" for="">Permis</label>
              <select
                class="form-select"
                [(ngModel)]="filters.categorie_permis_id"
              >
                <option [value]="null" selected>Tous les permis</option>
                <option [value]="item.id" *ngFor="let item of permis">
                  {{ item.name }}
                </option>
              </select>
            </div>
          </div>

          <div class="col">
            <div class="mb-3">
              <label class="form-label" for="">Langues</label>
              <select
                class="form-select"
                [(ngModel)]="filters.langue_id"
                name="lang_id"
              >
                <option [value]="null" selected>Sélectionner ...</option>
                <option [value]="item.id" *ngFor="let item of langues">
                  {{ item.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label class="form-label" for="">Résultat</label>
              <select
                class="form-select"
                name="result"
                [(ngModel)]="filters.resultat_conduite"
              >
                <option [value]="null" selected>Sélectionner ...</option>
                <option value="success">Succès</option>
                <option value="failed">Echec</option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="mt-3">
              <button
                class="btn btn-primary btn-sm"
                [disabled]="onLoading"
                (click)="fresh()"
              >
                <app-icon icon="filter"></app-icon> Filtrer
              </button>
            </div>
          </div>
        </div>
      </div>

      <ul class="list-group" *ngIf="onLoading">
        <li class="list-group-item bd-color-0 p-2 text-center">
          Chargement des dossiers en cours ...
        </li>
      </ul>
      <ul class="list-group">
        <li
          class="list-group-item bd-color-0 p-2"
          *ngFor="let candidat of candidats | paginate : paginateArgs()"
        >
          <app-fiche-candidat
            [candidat]="candidat"
            page="candidat"
          ></app-fiche-candidat>
        </li>
      </ul>
      <div class="p-3" *ngIf="paginate_data">
        <app-pagination
          *ngIf="paginate_data.total > filters.per_page"
          [total]="paginate_data.total"
          (pageChange)="paginate($event)"
          [pageNumber]="filters.page"
          [perPage]="filters.per_page"
        ></app-pagination>
      </div>
      <ul class="list-group" *ngIf="!onLoading && !candidats.length">
        <li class="list-group-item bd-color-0 p-2 text-center">
          Aucun candidat
        </li>
      </ul>
    </tab-body>
  </tab>
</div>
