<div class="m-2">
  <div class="col-sm-6">
    <div class="row filter-box">
      <div class="col">
        <select
          class="form-select"
          [(ngModel)]="annexeId"
          name="annexe"
          (change)="onAnnexe()"
        >
          <option value="0">Sélectionner une annexe</option>
          <option [value]="annexe.id" *ngFor="let annexe of annexes">
            {{ annexe.name | uppercase }}
          </option>
        </select>
      </div>
      <div class="col-6" *ngIf="examens.length">
        <select
          class="form-select"
          [(ngModel)]="examenId"
          name="session"
          (change)="selectSession($event)"
        >
          <option [value]="examen.id" *ngFor="let examen of examens">
            {{ examen.session_long | uppercase }}
          </option>
        </select>
      </div>
    </div>
    <div class="mt-3">
      <button
        type="button"
        class="btn btn-primary w-100 fs-6"
        [disabled]="!annexeId || generationStarted"
        (click)="generateCompos()"
      >
        Générer la programmation
      </button>
    </div>
  </div>
  <div class="d-flex justify-content-between align-items-center mt-3">
    <div class="h6">
      <div class="mb-2">
        <span class="text-primary fw-semibold">Session</span> :
        {{ currentSession.session_long }}
      </div>
      <div>
        <span class="text-primary fw-semibold">Nombre de candidats total</span>
        :
        {{ candidatsApts.length | padding }}
        candidat(s)
      </div>
    </div>

    <!-- [disabled]="!annexeId || generationStarted" -->
  </div>
  <div>
    <div class="row p-2 justify-content-between align-items-center mt-3">
      <div class="col-lg-5">
        <div class="d-flex align-items-center justify-content-between">
          <button class="btn btn-refresh">
            <app-icon icon="arrow-clockwise" classe="text-dark"></app-icon>
            <span class="text-muted" style="font-size: 10px">Actualiser</span>
          </button>
          <!-- <div class="input-group ms-1">
            <span class="input-group-text">
              <app-icon icon="search"></app-icon>
            </span>
            <input type="text" class="form-control" placeholder="Recherccher ..." />
          </div> -->
        </div>
      </div>

      <div
        class="p-3 border-primary mt-3 bg-body"
        style="border: 1px solid var(--bs-primary); border-left-width: 3px"
      >
        <div class="d-flex align-items-center justify-content-between">
          <div class="h6">
            <div class="mb-2">
              <span class="text-primary fw-semibold">Session</span> :
              {{ currentSession.session_long }}
            </div>
            <div class="mb-2">
              <span class="text-primary fw-semibold">Nombre de candidats</span>
              : {{ candidatsApts.length | padding }} candidat(s)
            </div>
          </div>
          <button
            type="button"
            class="btn btn-primary"
            (click)="toggleShowResult()"
            [disabled]="!currentSession.generated"
          >
            <app-icon icon="eye"></app-icon>
            <span *ngIf="!showResult">Voir la liste</span>
            <span *ngIf="showResult">Fermer la liste</span>
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="!onLoadList && showResult">
      <p>
        <button
          class="btn btn-outline-primary ms-2"
          (click)="sendNotifications()"
          [disabled]="onSending"
        >
          Envoyer les convocations
        </button>
        <button class="btn btn-primary ms-2" (click)="downloadAsPdf()">
          Télécharger
        </button>
      </p>
      <div style="overflow-y: auto; max-height: 600px">
        <div #dataToExport>
          <app-anatt-doc-conduite
            [programs]="currentSession.programmations"
            [meta]="{ agenda: agenda, annexe: currentAnnexe }"
          ></app-anatt-doc-conduite>
        </div>
      </div>
    </div>
    <div class="bg-body p-4" *ngIf="!currentSession.generated">
      <strong>Aucune programmation générée</strong>
    </div>
  </div>

  <div class="my-4 col-8 col-sm-5 col-md-4" *ngIf="generationStarted">
    <div
      class="progress"
      role="progressbar"
      [attr.aria-valuenow]="progress"
      [attr.aria-valuemin]="0"
      [attr.aria-valuemax]="100"
    >
      <div
        class="progress-bar progress-bar-striped progress-bar-animated"
        [style.width]="progress + '%'"
      ></div>
    </div>
    <p class="form-text text-muted">{{ progressionText }}</p>

    <div
      class="alert alert-primary alert-dismissible fade show mt-3"
      role="alert"
      *ngIf="alertMessage"
    >
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
      {{ alertMessage }}
    </div>
  </div>
</div>
