#sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 320px;
  background-color: #EEF2F8;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.6s ease;
  opacity: 0.1;
  z-index: 1600;
}

@media screen and (max-width: 767px) {

  /* Mobile jusqu'au tablette */
  #sidebar {
    margin-left: -320px;
    left: 0;
  }

  #sidebar.active {
    opacity: 1;
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {

  /* Écran large (à partir des tablettes) */
  #sidebar {
    margin-right: -320px;
    right: 0;
  }

  #sidebar.active {
    opacity: 1;
    margin-right: 0;
  }
}

.nav-link {
  border-bottom: 1px solid #0164BC33;
  font-weight: 600;
  color: #313131;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}