.welcome {
  .lead {
    font-size: 21px;

    line-height: 30px;
  }

}

.d-md-none {
  height: 100%;

  * {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}