td {
  border: 1px solid rgb(0, 184, 0) !important;
  text-align: center;
  font-weight: 500;
}

tr {
  width: 100%;
}

td.bt-0 {
  border-top: none !important;
}

td.bb-0 {
  border-bottom: none !important;
}

.vm {
  vertical-align: middle;
}

.vb {
  position: relative;
  height: 100%;
  bottom: -25px;
}

.bg-body {

  td,
  tr {
    color: var(--bs-primary);

  }
}


.diagonal-text {
  white-space: wrap;
  font-size: 11px;
}

.percent-bg {
  background-color: #E6F1F1;
  text-align: left;
  font-weight: 600;
}