.btn {
  font-size: 0.9em;
  font-weight: 500;

  .material-icons {
    margin-right: 5px;
  }
}

.page-link {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
  width: max-content;
  height: max-content;

  &:hover {
    background-color: transparent;
  }
}
