<div class="col-12 mb-2" *ngIf="dossier">
  <span>
    <strong>Soumise le</strong> :
    {{ createdAt | hdate : true }}
  </span>
  |
  <span><strong>Groupe sanguin</strong> : {{ dossier?.group_sanguin }}</span>
  <span
    ><button (click)="showGroupSanguin()" class="btn btn btn-sm text-primary">
      Voir
    </button></span
  >|
  <span>
    <strong>Civilité</strong> :
    {{ dossier?.is_militaire | uppercase }}
  </span>
  |
  <span
    ><strong>Status</strong> :
    <span [class]="'badge bg-' + status.class">{{ status.text }}</span></span
  >

  <div
    class="modal fade"
    [id]="'groupe-sanguin' + dossier.id"
    tabindex="-1"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    role="dialog"
    aria-labelledby="modalTitleId"
    aria-hidden="true"
  >
    <div
      class="modal-dialog modal-dialog-scrollable modal-dialog-centered"
      role="document"
    >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitleId">Group sanguin</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <img
            [src]="asset(dossier.groupage_test)"
            class="img-fluid rounded-top"
          />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Fermer
          </button>
          <a
            type="button"
            class="btn btn-primary"
            [href]="asset(dossier.groupage_test)"
            target="_blank"
          >
            Télécharger
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
