<div class="bg-primary-gradient">
  <app-header></app-header>
  <div
    class="welcome d-flex flex-column justify-content-center text-center align-items-center"
  >
    <div class="col-lg-10 mx-auto mt-5 pt-5">
      <div class="mx-auto col-sm-4">
        <img
          src="assets/images/login-left.png"
          class="d-block mx-lg-auto img-fluid"
          loading="lazy"
        />
      </div>
      <p class="title mt-5">
        Système de Gestion du <br />
        Permis de Conduire au Bénin
      </p>
      <p class="text-white my-3 fw-semibold mt-5">
        Tableau de bord de l’inspecteur
      </p>

      <p class="text-white fw-semibold mt-3">Epreuve du code de la route</p>

      <p class="my-5">
        <a routerLink="/connexion" class="btn btn-white">Me connecter</a>
      </p>
    </div>
  </div>
  <app-footer></app-footer>
</div>
