<app-icon icon="send" (click)="openSoumission()" [size]="16" classe="text-success"
  [ngClass]="showLoaderSoumission ? 'disabled' : ''" title="Soumettre"></app-icon>
<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="showLoaderSoumission"></span>
<div class="soumission-alert" *ngIf="showSoumission">
  <div class="d-flex justify-content-between my-1">
    <span class="fw-semibold" style="font-size: 12px">Attention</span>
    <app-icon icon="x" [size]="14" classe="text-danger" (click)="cancelSoumission()"></app-icon>
  </div>
  <div>
    <button class="btn btn-sm btn-success me-1" title="Continuer" (click)="confirmSoumission()">
      <app-icon icon="check-circle"></app-icon>
    </button>
    <button class="btn btn-sm btn-danger" title="Annuler" (click)="cancelSoumission()">
      <app-icon icon="x"></app-icon>
    </button>
  </div>
</div>
