<div id="sidebar" class="px-2" #sidebar>
  <div class="row align-items-center py-4">
    <div class="col-9">
      <a
        href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
      >
        <img src="assets/images/logo.png" class="img-fluid" alt="logo" />
      </a>
    </div>
    <div class="col-3">
      <button
        class="btn btn-outline-primary fw-bolder border-2 rounded-3"
        (click)="toggleSidebar()"
      >
        <app-icon icon="x" [size]="25" classe="fw-bolder"></app-icon>
      </button>
    </div>
  </div>
  <div class="col-11 mx-auto">
    <div class="py-2">
      <a
        href="/connexion"
        class="btn btn-primary text-white w-100"
        *ngIf="!userConnected()"
      >
        Se connecter
      </a>
    </div>
    <ul class="nav flex-column mb-auto py-3">
      <li>
        <a href="/" class="nav-link d-flex align-items-center">
          <app-icon icon="house" [size]="22" classe="text-primary"></app-icon>
          <span class="ms-2">Aller l'accueil</span>
        </a>
      </li>
      <li>
        <a
          href="/dashboard"
          class="nav-link d-flex align-items-center"
        >
          <app-icon
            icon="columns-gap"
            [size]="22"
            classe="text-primary"
          ></app-icon>
          <span class="ms-2">Tableau de bord</span>
        </a>
      </li>
      <li>
        <a
          href="/licences/demande"
          class="nav-link d-flex align-items-center"
        >
          <app-icon
            icon="joystick"
            [size]="22"
            classe="text-primary"
          ></app-icon>
          <span class="ms-2">Renouvellement de Licence</span>
        </a>
      </li>
      <li>
        <a
          class="nav-link d-flex align-items-center"
          type="button"
          (click)="monitoring()"
        >
          <app-icon
            icon="signpost-split"
            [size]="22"
            classe="text-primary"
          ></app-icon>
          <span class="ms-2">Suivi candidats</span>
        </a>
      </li>
      <li>
        <a
          href="/dashboard/affiliations"
          class="nav-link d-flex align-items-center"
        >
          <app-icon
            icon="bounding-box-circles"
            [size]="22"
            classe="text-primary"
          ></app-icon>
          <span class="ms-2">Affilier des candidats</span>
        </a>
      </li>
      <li>
        <a
          href="/dashboard/historiques"
          class="nav-link d-flex align-items-center"
        >
          <app-icon icon="bell" [size]="22" classe="text-primary"></app-icon>
          <span class="ms-2">Suivi des démarches</span>
        </a>
      </li>

      <li>
        <a href="/gestions/faqs" class="nav-link d-flex align-items-center">
          <app-icon
            icon="question-circle"
            [size]="22"
            classe="text-primary"
          ></app-icon>
          <span class="ms-2">FAQs</span>
        </a>
      </li>
    </ul>
    <a
      class="btn btn-outline-primary w-100"
      href="/logout"
      *ngIf="userConnected()"
    >
      Déconnexion
    </a>
  </div>
</div>

<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
<div
  class="modal fade"
  #suiviModalRef
  tabindex="-1"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  role="dialog"
  aria-labelledby="modalTitleId"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-scrollable modal-dialog-centered"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleId">
          Sélectionner une auto-école
        </h5>
      </div>
      <div class="modal-body">
        <div class="list-group">
          <label class="list-group-item" *ngFor="let ae of aes">
            <input
              class="form-check-input me-1"
              name="selectedAe"
              type="radio"
              [value]="ae.id"
              [(ngModel)]="selectedAe"
            />
            {{ ae.name }}
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Annuler
        </button>
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="!selectedAe"
          (click)="continous()"
        >
          Continuer
        </button>
      </div>
    </div>
  </div>
</div>
