<app-blue-aside>
  <app-blue-aside-left>
    <div class="col-md-8">
      <img src="assets/images/login-left.png" alt="" class="img-fluid" />
    </div>
    <div class="login-desc h4 text-center my-3">
      Votre espace de gestion des procédures liées au permis de conduire et
      titres dérivés
    </div>
  </app-blue-aside-left>
  <app-blue-aside-right col="col-md-10">
    <h3 class="title mt-3">Pré-inscription à l'épreuve de conduite</h3>

    <div *ngIf="currentPage == 'infos-sur-le-permis'">
      <div class="text-danger mb-3 fw-semibold text-small">
        Vous pouvez changer votre centre de composition et votre auto-école si
        vous le souhaitez.
      </div>
      <div class="card border">
        <div class="bg-light p-3 m-2 rounded">
          <div class="row">
            <div class="col-6 col-md mb-3 mb-md-0">
              <app-number-box [number]="1" [filled]="true">
                Infos sur le permis
              </app-number-box>
            </div>
          </div>
        </div>
        <!--Infos sur le permis-->
        <form method="post" id="infos-sur-le-permis">
          <div class="card-body">
            <h6>Catégorie de permis demandée</h6>
            <div class="d-flex my-3">
              <app-permis-list
                *ngIf="permisSelected"
                [permis]="permisList"
                (selectEvent)="onPermisChanged($event)"
                [default]="permisSelected.id"
              ></app-permis-list>
            </div>
            <div class="row">
              <div class="col-md-6">
                <h6>Centre de composition choisi</h6>
                <div class="mb-3">
                  <div class="input-styled">
                    <select
                      class="form-select"
                      name="annexe"
                      [(ngModel)]="annexe"
                      qv-rules="required"
                      (change)="selectAnnexe(annexe)"
                    >
                      <option value="">Centre de composition choisi</option>
                      <option
                        *ngFor="let annexe of annexes"
                        value="{{ annexe.id }}"
                      >
                        {{ annexe.name }}
                      </option>
                    </select>
                    <a class="indicator">
                      <app-icon icon="plus" classe="text-primary fw-bold">
                      </app-icon>
                    </a>
                  </div>
                  <div qv-feedback="annexe"></div>
                </div>
              </div>
              <div class="col-md-6">
                <h6>Auto-école choisie</h6>
                <div class="mb-3">
                  <div class="input-styled">
                    <select
                      class="form-select"
                      name="autoEcoleSelected"
                      [(ngModel)]="autoEcoleSelected"
                      qv-rules="required"
                      (change)="selectAutoEcole(autoEcoleSelected)"
                    >
                      <option value="" selected>Auto-école choisie</option>
                      <option
                        *ngFor="let autoecole of autoEcoles"
                        value="{{ autoecole.id }}"
                      >
                        {{ autoecole.name }}
                      </option>
                    </select>
                    <a class="indicator">
                      <app-icon icon="plus" classe="text-primary fw-bold">
                      </app-icon>
                    </a>
                  </div>
                  <div qv-feedback="autoEcoleSelected"></div>
                </div>
              </div>
              <div class="col-md-6" *ngIf="codeValidationAutoInput">
                <h6>Code de validation auto-école</h6>
                <app-single-inputs
                  [count]="6"
                  (isValid)="onInputValid($event)"
                ></app-single-inputs>
                <p class="form-text text-code-opt">
                  Le code à saisir ici est le code à 06 chiffres reçu chez votre
                  auto-école
                </p>
                <span *ngIf="isloading">
                  <span
                    class="spinner-border spinner-border-sm"
                    role="status"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Loading...</span>
                </span>
              </div>
            </div>
            <div class="col-md-6 mt-2">
              <button
                class="btn btn-between btn-primary"
                [disabled]="!inforPermisPageIsValid() || isloadingSave"
                (click)="goto('completed', $event)"
              >
                <span *ngIf="isloadingSave">
                  <span
                    class="spinner-border spinner-border-sm"
                    role="status"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Loading...</span>
                </span>
                > Suivant <app-icon icon="arrow-right"></app-icon>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="card-body" *ngIf="currentPage == 'completed'">
      <strong
        >Votre pré-inscription à l'épreuve de la conduite a bien été pris en
        compte. Veuillez vous rapprocher de l'auto-école
        <span class="text-primary">{{ autoEcole.name }} </span> au téléphone
        <span class="text-primary">{{ autoEcole.phone }}</span> pour la suite de
        votre parcours
      </strong>
      <div class="my-3">
        <button class="btn btn-primary" routerLink="/dashboard">
          Revenir sur mon tableau de board
        </button>
      </div>
    </div>
  </app-blue-aside-right>
</app-blue-aside>
