<div class="row align-items-center">
  <div class="col-sm-4">
    <div class="d-flex">
      <button class="btn" (click)="refresh()">
        <app-icon icon="arrow-clockwise" classe="text-dark"></app-icon>
        <span class="text-muted" style="font-size: 12px">Actualiser</span>
      </button>
    </div>
  </div>
  <div class="col-sm-5"></div>
  <div class="col-sm-2 text-end">
    <button
      class="btn border btn-icons btn-primary"
      (click)="openModal('store')"
    >
      <app-icon icon="plus"></app-icon>
      Chapitre
    </button>
  </div>
</div>
<table class="table mt-0">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col" width="10%">Actions</th>
    </tr>
  </thead>
  <tbody *ngIf="chapitres.length > 0">
    <tr *ngFor="let chapitre of chapitres; let i = index">
      <td>{{ chapitre.name }}</td>
      <td>
        <div class="btn-actions">
          <app-icon
            (click)="showChapitre(chapitre.id, 'edit')"
            icon="pencil"
            [size]="16"
            classe="text-success"
          ></app-icon>

          <app-delete
            (canDelete)="destroy($event)"
            [activateId]="chapitre.id"
          ></app-delete>
        </div>
      </td>
    </tr>
  </tbody>
  <tbody class="text-center" *ngIf="chapitres.length == 0">
    <tr>
      <td colspan="12">Aucune donnée</td>
    </tr>
  </tbody>
</table>
<app-modal [action]="modalId" size="">
  <div heading class="fw-semibold text-primary text-center">
    <span [innerHTML]="titre_formulaire"></span>
  </div>

  <div *ngIf="action !== 'show'">
    <form action="" method="post" quickv>
      <div class="row mb-2">
        <div class="col-12">
          <div class="mb-3">
            <label for="" class="mb-1 d-block">
              <div class="row justify-content-between">
                <div class="col-6 required">Nom</div>
                <div class="col-6 text-end">
                  <span info="Le chapitre">
                    <app-icon icon="info" [size]="14"></app-icon>
                  </span>
                </div>
              </div>
            </label>
            <div class="input-grouped">
              <input
                qv-rules="required|minlength:2|maxlength:225"
                qv-messages="Le nom est requis | Le nom est trop court | Le nom est trop long"
                required
                type="text"
                name="name"
                placeholder="Taper le chapitre"
                class="form-control"
                [(ngModel)]="chapitre.name"
              />
            </div>
            <div qv-feedback="name"></div>
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-12">
          <div class="mb-3">
            <label for="" class="mb-1 d-block">
              <div class="row justify-content-between">
                <label class="col-6 required" for="categorie_id"
                  >Catégorie (s)</label
                >
                <div class="col-6 text-end">
                  <span info="Sélectionner un ou des départements">
                    <app-icon icon="info" [size]="14"></app-icon>
                  </span>
                </div>
              </div>
            </label>
            <div class="mb-3">
              <ng-multiselect-dropdown
                [placeholder]="'Sélectionner une ou des catégories'"
                [data]="categories"
                [settings]="settings"
                [(ngModel)]="selectedItems"
                name="categorie_id"
              >
              </ng-multiselect-dropdown>
            </div>
            <div qv-feedback="categorie_id"></div>
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-12">
          <div class="mb-3">
            <label for="" class="mb-1 d-block">
              <div class="row justify-content-between">
                <div class="col-6">Description</div>
                <div class="col-6 text-end">
                  <span info="La description">
                    <app-icon icon="info" [size]="14"></app-icon>
                  </span>
                </div>
              </div>
            </label>
            <div class="input-grouped">
              <textarea
                name="description"
                id="description"
                rows="5"
                class="form-control"
                [(ngModel)]="chapitre.description"
              ></textarea>
            </div>
            <div qv-feedback="description"></div>
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-sm">
          <button
            class="btn btn-primary w-100 justify-content-center"
            [disabled]="onLoading"
            qv-submit
            (click)="save($event)"
          >
            Enregistrer
            <span *ngIf="onLoading">
              <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Loading...</span>
            </span>
          </button>
        </div>
      </div>
    </form>
  </div>
</app-modal>
