@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,500;1,600;1,700&display=swap');
@import 'scss/bootstrap';

body {
  font-family: 'Poppins', sans-serif;
  background-color: #DDF0F0;
  font-size: 28px;
}

a {
  text-decoration: none;
}



.dropdown-menu {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border: none;
}

select,
.form-select {
  /* Masquer la flèche par défaut */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* Ajouter l'icône de la flèche en tant qu'image de fond fleche-deroulante.png */
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 30px;
  /* pour ajouter un espace pour l'icône */
}

/* Pour les navigateurs qui ne prennent pas en charge la propriété "appearance" */
select::-ms-expand {
  display: none;
}

.required::after {
  content: "*";
  color: rgba(255, 63, 63, 0.849);
  padding-left: 5px;
}

.input-grouped {

  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 8px;

  input {
    margin: 0;
  }

  span {
    display: inline-block;
  }
}

.btn-icons {
  display: flex;
  align-items: center;

  .material-icons {
    margin-right: 5px;
  }
}

.bg-primary-light {
  background-color: #006F6F0D;
}

//tableau
td,
th {
  font-size: 26px;
}


.btn-success,
.btn-danger {
  color: #fff;

  &:hover {
    color: #fff;
  }
}


p {
  margin-bottom: 0 !important;
}

.btn-actions {
  position: absolute;
  width: max-content;
}

.btn {
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;

  &.active {
    background-color: #ffffff;
    border-color: #001e6f47 !important;
  }

}

fieldset,
.fieldset {
  border: 1px solid #fafafa;
  padding: 15px;
  background: #fafafa;
}

legend {
  font-size: 1.2em !important;
  font-weight: 600;
}

.ngx-pagination {
  margin-bottom: 0 !important;
  padding: 0;

  .disabled {
    color: var(--bs-primary) !important;
  }

  a,
  .disabled,
  .current,
  button {
    padding: 0.375rem 0.75rem !important;
    margin-left: 0;
    margin-right: 0;
  }

  li {

    margin-left: 0;
    margin-right: 0;

    &:first-child {
      border-radius: 5px 0 0 5px;
    }

    &:last-child {
      border-radius: 0 5px 5px 0;
    }

    border: 1px solid #CED4DA;
    color: var(--bs-primary);
  }

  .current {
    background-color: var(--bs-primary) !important;
    border: 1px solid var(--bs-primary);
  }
}

.form-check {

  input,
  label {
    cursor: pointer;
  }
}

.btn-success {
  color: white;
}



.bg-lighter {
  background: #eaf1f17a;
}

@media (max-width: 576px) {
  .col-6 {
    width: 100% !important;
  }
}





.input-styled {
  position: relative;

  .indicator {
    position: absolute;
    top: 16%;
    right: 3px;
  }

  .form-select,
  .form-control {
    border: 2px solid var(--bs-primary);
    background-color: transparent;
    appearance: none;
    background-image: none;

    &:hover {
      cursor: pointer;
    }

    &.is-invalid {
      border-color: var(--bs-danger) !important;
      background-image: none !important;
      appearance: none !important;

      //Rend le plus dans l'input ou le select rouge
      &+.indicator {
        .bi {
          color: var(--bs-danger) !important;
        }
      }
    }
  }
}

.preview-pdf {
  width: 100%;
  height: 160px;
  position: relative;

  .prev-eye {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #000f2847;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

.card-w {

  .tab-header {
    position: relative;

    .btn-tab {
      background-color: var(--bs-light);
      position: relative;
      display: inline-block;
      border-radius: 5px 5px 0 0;
      margin-right: 1px;

      .btn-tab-count {
        border-radius: 20%;
        padding: 2px 3px;
        background-color: #fff;
      }

      &.active {
        background-color: #fff;
        border: 1px solid var(--bs-light);
        border-bottom: none;
        z-index: 2;
        bottom: -1px;

        &::after {
          content: " ";
          width: 100%;
          display: block;
          background-color: #00000000;
          height: 1px;
        }

        .btn-tab-count {
          background-color: var(--bs-light);
        }
      }

      &:hover {
        background-color: #D9D9D9;
      }
    }
  }

  .tab-body {
    border: 1px solid var(--bs-light);
  }

  .filter-box {
    select {
      border: none;
      padding-left: 2px;
      padding-right: 2px;
      color: #735459;
      font-weight: 500;
    }
  }

  .list-group-item {
    border-left: 0;
    border-right: 0;

    h6 {
      color: #252529;
      font-weight: 400;
    }

    &.bd-color-0 {
      border-top-color: transparent;
      border-radius: 0;
    }
  }
}