<footer>
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-6 col-md-3 mb-3">
        <h5>{{ "Get information" | translate }}</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="javascript:void(0)" class="nav-link p-0">{{
              "About us" | translate
            }}</a>
          </li>
          <li class="nav-item mb-2">
            <a href="javascript:void(0)" class="nav-link p-0">{{
              "Contact us" | translate
            }}</a>
          </li>
        </ul>
      </div>

      <div class="col-6 col-md-3 mb-3">
        <h5>{{ "Contribute" | translate }}</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="javascript:void(0)" class="nav-link p-0">{{
              "Make a suggestion" | translate
            }}</a>
          </li>
          <li class="nav-item mb-2">
            <a href="javascript:void(0)" class="nav-link p-0">{{
              "Report a problem" | translate
            }}</a>
          </li>
        </ul>
      </div>

      <div class="col-6 col-md-3 mb-3">
        <h5>{{ "Learn more" | translate }} En savoir plus</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="javascript:void(0)" class="nav-link p-0">{{
              "Legal notice" | translate
            }}</a>
          </li>
          <li class="nav-item mb-2">
            <a href="javascript:void(0)" class="nav-link p-0">{{
              "TOS" | translate
            }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center py-4 footer-copyright">
    <div class="container">
      <div class="col-md-4 mx-auto">
        <img src="assets/images/amoirie.png" alt="" />
        <h6>{{ "Republic of Benin" | translate }}</h6>
        <p>
          {{
            "Ministry of Environment and Transport Responsible for Sustainable Development"
              | translate
          }}
        </p>
        <p>{{ "All Rights Reserved 2023" | translate }}</p>
      </div>
    </div>
  </div>
</footer>
