<div class="vh-100 w-100 py-5">
  <div class="hearder-rounded col-9 mx-auto">
    <img src="assets/images/logo.png" class="img-fluid" alt="" />
  </div>

  <div class="container pt-4">
    <div class="col-10 mx-auto col-sm-9 text-white text-center pt-4">
      <h3
        class="my-4 text-uppercase pt-4 text-shadow-1"
        style="font-size: 24px; line-height: 153%"
      >
        Examen de permis de <br />
        conduire
      </h3>
      <div class="pt-4 fw-bold">
        <h6 class="mb-4 text-shadow-2">
          Composition à l'épreuve <br />
          du code de la route
        </h6>
        <p class="pt-4">
          <button
            class="btn btn-primary border-light w-100"
            style="border-width: 2px"
            (click)="login()"
          >
            S'identifier
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
