<app-blue-aside *ngIf="auth.nom" [auth]="!!auth.nom ? auth : null">
  <app-blue-aside-left>
    <div class="col-md-8">
      <img src="assets/images/login-left.png" alt="" class="img-fluid" />
    </div>
    <div class="login-desc h4 my-3">
      Votre espace de gestion d’établissement <br />
      de conduite automobile et annexes
    </div>
  </app-blue-aside-left>
  <app-blue-aside-right col="col-md-11">
    <h3 class="title mb-4">
      Licence d’exploitation d’un Etablissement d’enseignement de la Conduite
      Automobile et Annexe
    </h3>

    <ng-container *ngIf="aes.length">
      <h6 style="font-size: 18px; line-height: 25px" class="mb-3 text-primary">
        Information sur la demande
      </h6>
      <div class="demande-page" [class.d-block]="page == 'basic'">
        <div class="bg-gray p-3 rounded">
          <div class="mb-3">
            <label for="autorisation" class="form-label required"
              >L'auto-école concernée
            </label>

            <select
              class="form-select form-select-lg"
              name="autorisation"
              id="autorisation"
              (change)="onAe($event.target)"
            >
              <ng-container *ngIf="aes.length > 1">
                <option [value]="0">Sélectionner une auto-école</option>
              </ng-container>

              <ng-container *ngFor="let a of aes">
                <option [value]="a.id">
                  {{ a.name }}
                </option>
              </ng-container>
            </select>
          </div>
        </div>

        <div class="bg-gray p-3 rounded my-3">
          <div class="row">
            <ng-container *ngIf="moniteurs.length < 2">
              <div class="col-9">
                <div class="mb-3">
                  <label for="moniteurNpi" class="form-label required"
                    >Les moniteurs
                  </label>
                  <input
                    type="text"
                    name="moniteurNpi"
                    id="moniteurNpi"
                    class="form-control"
                    placeholder="Tapez le NPI du Moniteur"
                    [(ngModel)]="moniteurNpi"
                    maxlength="10"
                    minlength="10"
                    (input)="addMoniteur()"
                  />
                  <small class="text-muted">Indiquez (02) moniteurs </small>
                </div>
              </div>
            </ng-container>
            <div class="col-12">
              <ng-container *ngIf="moniteurs.length">
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr *ngFor="let m of moniteurs">
                        <td>{{ m.prenoms }} {{ m.nom }}</td>
                        <td>{{ m.telephone }}</td>
                        <td>
                          <span
                            role="button"
                            (click)="removeMoniteur(m.npi)"
                            class="p-1"
                            ><app-icon icon="x"
                          /></span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </ng-container>
              <ng-container *ngIf="moniteurErrors.length">
                <div class="alert alert-primary" role="alert">
                  <p *ngFor="let item of moniteurErrors">
                    Le moniteur {{ item.nom }} {{ item.prenoms }} n'existe pas
                    dans la base de l'ANaTT.
                  </p>
                </div>
              </ng-container>

              <ng-container *ngIf="!moniteurs.length">
                <div class="text-center">Ajouter un moniteur</div>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="bg-gray p-3 rounded my-3">
          <div class="row">
            <div class="col-12">
              <label for="vehicule" class="form-label required"
                >Les véhicules
              </label>
            </div>
            <div class="col-9">
              <div class="mb-3">
                <input
                  type="text"
                  name="vehicule"
                  id="vehicule"
                  class="form-control"
                  placeholder="Ex: AZ 0000 RB"
                  [(ngModel)]="vehicule"
                  minlength="6"
                />
              </div>
            </div>
            <div class="col-3">
              <button
                class="btn btn-primary"
                [disabled]="vehicule.length < 6"
                (click)="addVehicule()"
              >
                Ajouter
              </button>
            </div>
            <div class="col-12">
              <ng-container *ngIf="vehicules.length">
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr *ngFor="let v of vehicules">
                        <td>{{ v.immatriculation }}</td>
                        <td>
                          <span
                            role="button"
                            (click)="removeVehicule(v.immatriculation)"
                            class="p-1"
                            ><app-icon icon="x"
                          /></span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </ng-container>

              <ng-container *ngIf="!vehicules.length">
                <div class="text-center">Ajouter un véhicule</div>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="mt-3 d-flex justify-content-between">
          <p>
            <button class="btn btn-outline-primary" disabled>
              <app-icon icon="arrow-left" /> Précédent
            </button>
          </p>
          <p>
            <button
              class="btn btn-primary"
              (click)="go('fiches')"
              [disabled]="!basicFormValid()"
            >
              Suivant
              <app-icon icon="arrow-right" />
            </button>
          </p>
        </div>
      </div>
      <div class="demande-page" [class.d-block]="page === 'fiches'">
        <h6
          style="font-size: 18px; line-height: 25px"
          class="mb-3 text-primary"
        >
          Les fiches à joindre
        </h6>
        <div
          class="form-group mb-4 bg-gray p-3 rounded"
          *ngFor="let fc of fiches; let i = index"
        >
          <label class="mb-1" [class.required]="fc.required" [for]="fc.id">{{
            fc.label | ucfirst
          }}</label>
          <app-input-file
            [accept]="fc.accept.join(',')"
            [id]="fc.id"
            [type]="fc.type"
            [placeholder]="fc.placeholder || null"
            (changeEvent)="onFile($event, i)"
            [defaultPath]="fc.defaultPath"
            [multiple]="!!fc.multiple"
          />
        </div>
        <div class="mt-3 d-flex justify-content-between">
          <p>
            <button class="btn btn-outline-primary" (click)="go('basic')">
              <app-icon icon="arrow-left" /> Précédent
            </button>
          </p>
          <p>
            <button
              class="btn btn-primary"
              [disabled]="!fichesValides()"
              (click)="go('recap')"
            >
              Suivant
              <app-icon icon="arrow-right" />
            </button>
          </p>
        </div>
      </div>
      <div class="demande-page" [class.d-block]="page === 'recap'">
        <div class="p-1 rounded-3 bg-light">
          <div class="d-flex">
            <app-avatar [promoteur]="auth" />
            <div class="d-flex flex-column justify-content-between ms-2">
              <h5
                class="pt-2"
                style="color: #313131; font-size: 22px; font-weight: 600"
              >
                {{ auth.prenoms }} {{ auth.nom }}
              </h5>
              <h6 class="pb-2" style="color: #575656; font-size: 16px">
                NPI : {{ auth.npi }}
              </h6>
            </div>
          </div>
        </div>
        <div class="row h-100 mt-3">
          <div class="col h-100">
            <h4 class="mt-3">Informations personnelles</h4>
            <div class="border rounded-3 p-2">
              <div class="mb-3">
                <div class="fw-semibold">Sexe</div>
                <span class="text-uppercase">{{ auth.sexe }}</span>
              </div>

              <div class="mb-3">
                <div class="fw-semibold">Date de naissance</div>
                <span class="text-uppercase">{{
                  auth.date_de_naissance | date : "dd MMMM yyyy" : "" : "fr"
                }}</span>
              </div>
              <div class="mb-3">
                <div class="fw-semibold">Lieu de naissance</div>
                <span class="text-uppercase">{{ auth.lieu_de_naissance }}</span>
              </div>

              <div class="mb-2">
                <div class="fw-semibold">Adresse</div>
                <span class="text-uppercase">{{ auth.adresse }}</span>
              </div>
              <div class="mb-3">
                <div class="fw-semibold">Téléphone</div>
                <span class="text-uppercase">{{ auth.telephone }}</span>
              </div>
            </div>
          </div>
          <div class="col h-100">
            <h4 class="mt-3">Informations sur la demande</h4>
            <div class="border rounded-3 p-2">
              <div class="mb-3">
                <div class="fw-semibold">Auto-école</div>
                <span class="text-uppercase"> {{ getAe(ae)?.name }} </span>
              </div>

              <div class="mb-3">
                <div class="fw-semibold">Les moniteurs</div>
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr *ngFor="let m of moniteurs">
                        <td>{{ m.prenoms }} {{ m.nom }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="mb-3">
                <div class="fw-semibold">Les véhicules</div>
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr *ngFor="let v of vehicules">
                        <td>{{ v.immatriculation }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <p class="mb-3">
                <button
                  class="btn btn-outline-primary w-100"
                  (click)="go('basic')"
                >
                  Modifier les informations
                </button>
              </p>
            </div>
          </div>
        </div>
        <div class="border rounded-3 p-3 my-3">
          <p>({{ ficheValides.length }}) fichiers joints</p>
          <p class="form-text text-muted">
            <ng-container *ngFor="let f of fiches">
              <span class="text-dark" style="font-size: 12px">
                {{ f.label | limit : 32 }} </span
              >,
            </ng-container>
          </p>
          <p class="my-3">
            <button
              class="btn btn-outline-primary w-100"
              (click)="go('fiches')"
            >
              Voir/Modifier les fiches
            </button>
          </p>
        </div>
        <div class="d-flex justify-content-between my-3">
          <p>
            <button class="btn btn-outline-primary" (click)="go('fiches')">
              <app-icon icon="arrow-left" /> Précédent
            </button>
          </p>
          <p>
            <button
              class="btn btn-primary"
              [disabled]="!fichesValides() || !basicFormValid()"
              (click)="save()"
              type="button"
            >
              Soumettre
              <app-icon icon="arrow-right" />
            </button>
          </p>
        </div>
      </div>
      <div class="demande-page" [class.d-block]="page === 'end'">
        <div class="border rounded p-3 bg-gray fw-semibold">
          Votre
          <ng-container *ngIf="rejetId"> correction de</ng-container> demande de
          licence d’exploitation d’un établissement d’enseignement de la
          conduite automobile et annexe :
          <span class="text-secondary">{{ getAe(ae)?.name }}</span
          >, a été envoyée avec succès et est en attente de validation par
          l'ANaTT.
          <hr />
          <p class="mt-3 text-center">
            <a href="/dashboard" class="btn btn-primary"
              >Aller au tableau de bord</a
            >
          </p>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="ready && !aes.length">
      <div class="alert alert-primary" role="alert">
        <strong>Aucune école</strong>

        <p>
          Vous n'avez aucune école valide pour laquelle vous pouvez demander un
          agrément, vous devez peut-être
          <a href="/inscription"> demander un agrément</a> d'abord
        </p>
        <p class="mt-3">
          <button class="btn btn-primary" routerLink="/inscription">
            Demander l'agrément
          </button>
        </p>
      </div>
    </ng-container>
  </app-blue-aside-right>
</app-blue-aside>
